
@font-face {
font-family: 'Nunito', sans-serif;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?j8k8mo');
  src:  url('../font/icomoon.eot?j8k8mo#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?j8k8mo') format('truetype'),
    url('../font/icomoon.woff?j8k8mo') format('woff'),
    url('../font/icomoon.svg?j8k8mo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
	font-family: Nunito;
	font-weight: 700;
	margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
html {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	background-color: #fdb837;
	font-size: 16px;
	width: 100%;
	color: #fff !important;
}
nav{
	background: #fff;
	-webkit-box-shadow: 1px 3px 10px -3px rgba(84,84,84,1);
	-moz-box-shadow: 1px 3px 10px -3px rgba(84,84,84,1);
	box-shadow: 1px 3px 10px -3px rgba(84,84,84,1);
	display: block;
	height: 3rem;
	position: relative;
    top: 0;
    transition: position 0.5s;
    width: 100%;
    z-index: 1;
}
a{
	text-decoration: none;
	color: inherit;
}
.logo{
	background: #ffe47b;
	height: 2rem;
	left: 0.5rem;
	position: absolute;
	top: 0.5rem;
	width: 2rem;
}
.logo img{
	height: 2rem;
	left: 0rem;
	position: absolute;
	top: 0rem;
	width: 2rem;
}
.name{
	display: none;
	font-size: 1.3rem;
	left: 3rem;
	position: absolute;
	transition: all 0.4s;
	top: 0.85rem;
}
.menubtn{
	background: #fdb837;
	cursor:pointer;
	position: absolute;
	right: 1rem;
	top: 0.75rem;
}
.menubtn:before {
  content: "\f0c9";
  font-family: 'icomoon' !important;
  font-size: 1.5rem;
  margin: 0 auto;
}
.closebtn:before {
  content: "\ea0f";
  font-family: 'icomoon' !important;
  font-size: 1.5rem;
  margin: 0 auto;
}
.sidenav {
	background-color: #fdb837;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 1; 
}
.sidenav a {
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: all 0.3s;
}
.sidenav a:hover {
    text-decoration: underline;
}
.sidenav .closebtn {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}
.menu{
	font-size: 2.5rem;
	padding-top: 5rem;
}
.bg{
	background: url("../img/bg5.jpg");
	background-size: cover;
	background-position: center;
	height: 93%;
}
.header-title{
	height: 100%;
	padding: 18.5rem 0 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
h1{
	font-size: 4.5rem;
	}
h5{
	font-size: 2rem;
	padding-bottom: 1rem; 
}
h5.subtitle{
	font-size: 1.5rem;
	padding: 1rem 0; 
}
h6{
	font-size: 1.3rem;
	margin: 0.4rem 0;
}
h1, h5, h6{
	font-weight: bold;
}
.animated-0-8s {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-0-9s {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-1s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-1-1s {
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.form{
	background: rgba(255, 255, 255, 0.28);
    border-radius: 6px;
    color: black;
    font-size: 18px;
	margin: 0 auto;
	padding: 0.1rem 2rem 1rem 2rem;
    width: 90%;
}
form label{
	display: block;
}
.text-left{
	text-align: left;
}
.remember{
	margin: 0.3rem 0;
}
.check-rem{
	height: 15px;
    width: 15px;
}
.forgot-pass{
	margin: 0.3rem 0 0 0;
}
.inline-flex{
	display: inline-flex;
}
input{
	font-size: inherit;
    font-family: inherit;
	margin: 1% 0;
	width: 100%;
}
section{
	padding: 2rem;
    text-align: justify;
}
.article{
    padding: 1rem;
}
.paragraph{
	padding: 2rem 0;
}
footer{
	background: #635c5e;
	color: #fff;
	font-size: 0.75rem;
	font-style: normal;
	overflow: hidden;
	padding: 1rem 1rem 1.5rem 1rem;
}
.contact{
	font-style: normal;
	margin: 0 auto;
    padding-top: 1rem;
}
.icons-footer{
	font-family: 'icomoon' !important;
	font-style: normal;
	padding: 0.5rem 0;
}
.email:before {
	content: "\f0e0";
	padding: 0 5px;
}
.logo-app{
	display: inline-block;
}
.logo-app img{
	width: 140px;
}
.text-center{
	text-align: center;
}
@media (min-width: 300px) and (orientation: landscape){
	.menu{
		font-size: 3rem;
    	padding-top: 2rem;
	}
	.bg{
		background-position: top;
	}
	.form {
    	padding: 0.5rem 1rem 1rem 1rem;
	    width: 60%;
	    display: table;
	    margin: 0 0 0 15rem;
    }
	.article {
	    padding: 0 0 1rem 0;
	    width: 60%;
    	margin: 2rem 0 0 15rem;
	}
	.header-title{
		padding: 7rem 0 0 0;
	}
	form{
	    font-size: 0.9rem;
		margin-top: 0.5rem;
	}
	.p{
	    text-align: justify;
	    font-size: 0.9rem;
	    margin: 0.5rem 0;
	}
	.animated-1s-sm-landscape {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}
	.flex-box-sm-landscape{
	    overflow: scroll;
	}
}
@media (min-width: 768px) {
	.menu{
		font-size: 4rem;
		padding-top: 5rem;
	}
	.menu a{
		padding: 1rem 0;
	}
	.form {
	    padding: 5rem 1rem 1rem 1rem;
	    width: 40%;
	}
	.article {
	    padding: 1rem;
	    width: 40%;
	}
	.flex-box-sm-landscape{
	    display: flex;
	    display: inline-flex;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    flex-wrap: wrap;
	}
	h1{
		font-size: 3.5rem;
	}
	h5{
		font-size: 2rem;
	}
	h5.subtitle{
		font-size: 2rem;
	}
	footer{
		padding: 3rem;
	}
	.preview{
		width: 33.33%;
	}
	.frontend div figure, .backend div figure{
    	width: 22%;
    }
    .form, .contact {
    	margin: 0 auto;
        width: 40%;
	}
	.contact{
		padding: 2rem 1rem;
	}
}
@media (min-width: 1024px) {
	body{
		font-size: 20px;
	}
	footer{
		padding: 4rem 5rem;
	}
	nav{
		height: 4rem;
	}
	.logo{
		height: 3rem;
	    width: 3rem;
	}
	.logo img{
		height: 3rem;
	    width: 3rem;
	}
	.menubtn:before {
		content: "\f0c9";
		font-family: 'icomoon' !important;
		font-size: 2.5rem;
		margin: 0 auto;
	}
	.closebtn:before {
		content: "\ea0f";
		font-family: 'icomoon' !important;
		font-size: 2.5rem;
	}
	.name{
		font-size: 2rem;
	    left: 4rem;
	    top: 1rem;
	}
	h1{
		font-size: 4.5rem;
	}
	h5{
		font-size: 2.2rem;
	}
	h6{
		font-size: 1.7rem;
	}
}
@media (min-width: 1200px) {
	footer{
		padding: 1rem 1rem;
	}
}